/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29/03/2017, 14:13:29
    Author     : JeanJunior
*/
@charset "utf-8";

body {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
        color: black;
	margin: 0px;
	font-weight: normal;   
        background-image:url("../img/pic04.jpg");  
}

header {
	padding: 5px;
	margin-bottom: 20px;
	height: 30px;
	background-color: #545454;
	color: #fff;
	box-shadow: 0px 2px 2px #ccc
}

#conteudo {
	padding: 0px 8px
}

footer {
	border-top: 1px solid #ccc;
	padding: 5px 8px;
	margin-top: 20px;
	margin-bottom: 10px
}

h1 {
	font-size: 24px;
	font-weight: 500;
	padding: 0px;
	margin: 0px;
	margin-bottom: 10px
}

.ajax-status {
	position: fixed;
	top: 85px;
	right: 10px;
	width: 35px;
	height: 35px
}

#login-dialog {
	width: 260px;
	margin: auto;
	margin-top: 150px;
}

.grid-login {
	background-color: #f2f2f2;
	border-radius: 8px;
	border: 1px solid #ccc;
	margin-top: 8px;
	padding: 10px;
	width: 100%
}
